.Suggestions {
    border: none;
    border-radius: var(--surface-radius-1);
    padding: var(--spacing-5);
    margin: 0 var(--spacing-5);
    max-height: 200px;
    overflow: auto;
    position: absolute;
    background-color: var(--surface-white);
    z-index: 2;
    top: calc(var(--spacing-8)*2.5);
    left: 0;
    width: -webkit-fill-available;
    max-width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px 0px var(--surface-shadow);
}

.Header {
    font-size: var(--text-size-6);
    font-weight: 600;
    margin-bottom: var(--spacing-4);
    color: var(--text-primary);
    border-bottom: 1px solid var(--surface-brand);
}

.ListItem:last-child {
    margin-bottom: var(--spacing-3);
}

.ListItem {
    margin-top: var(--spacing-3);
}

.List {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.Stock,
.Name {
    display: block;
}

.Stock {
    font-size: var(--text-size-3);
    font-weight: 500;
    color: var(--text-primary);
}

.Name {
    font-size: var(--text-size-1);
    margin-top: 1px;
    margin-bottom: var(--spacing-3);
    color: var(--text-secondary);
}