.Wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header{
    background-color: var(--surface-brand);
}

.Item{
    color: var(--text-primary);
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    font-size: var(--text-size-4);
    margin-bottom: var(--spacing-3);
    padding: var(--spacing-3) var(--spacing-2);
}

.Item span{
    margin-right: var(--spacing-5);
}

.Item.Active{
    background-color: var(--surface-brand);
    color: var(--text-white);
    border-radius: var(--surface-radius-1);
}