.HeaderWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-8);
}

.Heading {
    font-size: var(--text-size-7);
    color: var(--text-primary);
}

.Link {
    color: var(--text-white);
    text-decoration: none;
    font-size: var(--text-size-3);
    background-color: var(--surface-brand);
    padding: var(--spacing-3);
    border-radius: var(--surface-radius-1);
}

.Wrapper {
    overflow-y: auto;
    max-height: 200px;
    padding: var(--spacing-3);
    box-shadow: 0px 3px 10px 0px var(--surface-shadow);
    border-radius: var(--surface-radius-1);
}
