.InputWrapper {
    position: relative;
    overflow: hidden;
}

.Prefix{
    position: absolute;
    left: 0;
    top: 0;
    padding: var(--spacing-5);
}

.Suffix {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: var(--spacing-5) var(--spacing-7);
}

.Input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    background-color: var(--surface-gray);
    font-size: var(--text-size-3);
    padding: 10px 5px 10px 5px;
}

.Prefix + input {
    padding-left: 35px;
}