* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

*:focus {
  outline: none;
}

:root {
  /*TEXT*/

  /*Colors*/
  --text-brand: #B8336A;
  --text-primary: #171215;
  --text-secondary: #838386;
  --text-white: #F6F4F5;
  --text-success: #47AE6E;
  --text-alert: #8B1E3F;

  /*Size*/
  --text-size-1: 10px;
  --text-size-2: 12px;
  --text-size-3: 14px;
  --text-size-4: 16px;
  --text-size-5: 18px;
  --text-size-6: 20px;
  --text-size-7: 24px;
  --text-size-8: 30px;

  /*SURFACE*/

  /*Spacing*/
  --spacing-1: 2px;
  --spacing-2: 4px;
  --spacing-3: 6px;
  --spacing-4: 8px;
  --spacing-5: 10px;
  --spacing-6: 12px;
  --spacing-7: 16px;
  --spacing-8: 20px;

  /*Colors*/
  --surface-brand: #B8336A;
  --surface-seconday: #5299D3;
  --surface-vertical: #DD6E42;
  --surface-white: #F6F4F5;
  --surface-black: #171215;
  --surface-gray: #E6EBEF;
  --surface-shadow: #C8D1E4;

  /*Radius*/
  --surface-radius-1: 4px;
  --surface-radius-2: 8px;
  --surface-radius-3: 10px;

}