.Card {
    border: 1px solid var(--surface-gray);
    border-radius: var(--surface-radius-1);
    overflow: hidden;
    width: 100%;
}

.Header {
    background-color: var(--surface-brand);
    padding: var(--spacing-4) var(--spacing-2);
    border-radius: var(--surface-radius-1);
    color: var(--text-white);
    font-weight: 600;
    font-size: var(--text-size-3);
}

.Content {
    padding: var(--spacing-4) var(--spacing-2);
}

.Footer{
    border-top: 1px solid var(--surface-gray);
    display: flex;
}