.FloatingContainer {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.FloatingButton {
    background-color: var(--surface-brand);
    color: var(--text-white);
    border: none;
    width: 44px;
    height: 44px;
    font-size: var(--text-size-6);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}