.Wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: start;
    justify-items: start;
    align-items: stretch;
}

.Close {
    color: var(--text-primary);
    font-weight: 700;
    font-size: var(--text-size-3);
}

.Change {
    font-weight: 400;
    font-size: var(--text-size-2);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Positive {
    color: var(--text-success);
}

.Negative {
    color: var(--text-alert);
    justify-content: flex-end;
}

.Change svg {
    margin-right: var(--spacing-3);
}

.small .Close {
    font-size: var(--text-size-2);
}

.small .Change {
    font-size: var(--text-size-1);
}

.medium .Close {
    font-size: var(--text-size-3);
}

.medium .Change {
    font-size: var(--text-size-2);
}

.large .Close {
    font-size: var(--text-size-5);
}

.large .Change {
    font-size: var(--text-size-3);
}

.xlarge .Close{
    font-size: var(--text-size-8);
}

.xlarge .Change {
    font-size: var(--text-size-6);
}